{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        游戏规则
    </h3>

    <p>
        游戏开始前，你们将随机匹配形成{{ Constants.players_per_group }}人小组，并在小组内开设一个公共账户。
        每轮游戏开始时，小组中的每位成员都会得到100个游戏币，你可以选择将任意数量（0 ~ 100）的游戏币放入公共账户中。
    </p>
    <p>
        小组成员全部投放完成，如果公共账户中的游戏币数量≥200，则会翻倍（×2），然后平分给{{ Constants.players_per_group }}名小组成员；如果公共账户中的游戏币
        数量<200，公共账户中的游戏币将不会退还。每一轮游戏你的收益 = 未放入公共账户的游戏币 + 公共账户返还的游戏币。每一轮游戏的收益会自动储存到个人账户中。
        本次游戏共有12轮，游戏结束后我们会根据个人账户中的游戏币数量来发放相应的奖励。

      
    </p>
    </div>
</div>

